* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: "Rubik" sans-serif; */
  font-family: sans-serif;
  color: #555;
}
.body {
  color: #555;
  font-family: "Rubik" sans-serif;
}
.sec-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 4rem 0;
}
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 130rem;
  padding: 0 20rem;
  margin: 0 auto;
  gap: 9.6rem;
  align-items: center;
}
.hero-img img {
  max-width: 100%;
}
.hero-txt {
  color: #495057;
  line-height: 1.4;
  font-size: 1.8rem;
  /* line-height: 1.2; */
  margin-bottom: 4.8rem;
}
.P-txt {
  margin-top: 2.2rem;
  margin-bottom: 2.2rem;
  font-size: 1.5rem;
}

.btn-1:link,
.btn-1:visited {
  background-color: #ec810e;
  color: #f8f9fa;
  padding: 10px 25px;
  border-radius: 9px;
  text-decoration: none;
  display: inline-block;
  margin-right: 5px;
  margin-top: 10px;
  font-size: 1.4rem;
  transition: all 0.3s;
}
.btn-1:hover,
.btn-1:active {
  background-color: #bd670b;
  color: #f8f9fa;
}
.btn-2:link,
.btn-2:visited {
  background-color: #f7f7f7;
  color: #080808;
  padding: 10px 25px;
  border-radius: 9px;
  font-size: 1.4rem;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s;
}
.btn-2:hover,
.btn-2:active {
  box-shadow: inset 0 0 0.2rem #a78181;
  background-color: #fdf2e9;
  color: #080808;
}
.navigation {
  display: flex;
  justify-content: space-between;
  background-color: #fdf2e9;
  align-items: center;
  height: 0.5rem;
  padding: 3rem 3.5rem;
}
.img-logo {
  height: 1.5rem;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 3.2rem;
}
.navs:link,
.navs:visited {
  color: #555;
  font-weight: 600;
  font-size: 1.3rem;
  transition: all 0.3s;
  list-style: none;
  text-decoration: none;
}
.navs:hover,
.navs:active {
  color: #ec810e;
}
.nav-cat:link,
.nav-cat:visited {
  background-color: #ec810e;
  color: #f8f9fa;
  padding: 4px 16px;
  border-radius: 9px;
  text-decoration: none;

  margin-right: 5px;
  margin-top: 10px;
}
.nav-cat:hover,
.nav-cat:active {
  background-color: #bd670b;
  color: #f8f9fa;
}
.f_in_txt {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  word-spacing: 0.3rem;
}
.featured-logos {
  display: flex;
  padding: 0 3.2rem;
  padding-bottom: 8rem;
  justify-content: space-around;
  width: 70%;
  margin: 0 auto;
}
.featured-logos,
.f_in_txt {
  filter: brightness(0);
  opacity: 50%;
}
.featured-logos img {
  height: 2rem;
}
.how2-img-txt {
  display: grid;
  width: 70%;

  grid-template-columns: 1fr 1fr;

  margin: 0 auto;
  padding: 0 3.2rem;
}

.how_it_works {
  color: #cf6f07;
  /* display: inline; */

  margin: 0;
  padding: 0;
}
.how_it_works_heading {
  /* text-align: center; */
  margin: 0px;
  padding: 0px;
}

.intro-how2 {
  padding: 3rem 0;
  padding-bottom: 6rem;
  font-size: xx-large;
  grid-column: 1/-1;
  align-items: center;
  justify-content: center;
  color: #495057;
}
.how2img {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.how2img::before {
  content: "";
  display: block;
  width: 55%;
  padding-bottom: 55%;
  background-color: #fdf2e9;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -105%);
}
.how2img::after {
  content: "";
  display: block;
  width: 45%;
  padding-bottom: 45%;
  background-color: #ecc59c;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -117%);
  
}
.numhow2cls {
  font-size: 6rem;
  color: #ccc;
}
.how2imgcls {
  height: 50%;
  transform: translate(0, -50%);
  z-index: 1;
}
.dscrptn_how2 {
  font-size: 2.2rem;
}
.text-how2 {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  color: #495057;
}
.how2_txtinside {
  font-size: 1.2rem;
  font-weight: 500;
}

.img-card-1,
.img-card-2 {
  width: 100%;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem;
  width: 70%;
  padding: 0 3.2rem;
  margin: 0 auto;
}
.card-start {
  max-width: 120rem;
}
.card-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.diet-type-list {
  list-style: none;
}
.card-1,
.card-2 {
   box-shadow:0 1rem 1rem 1rem rgba(0,0 ,0, 0.15); 
   border-radius: 1rem;
   overflow: hidden;
}

.work-diet {
}
.Vegetarian{
  display: inline-block;
  padding: 0.2rem 0.7rem;
  background-color: #40c057;
  border-radius: 1000px;
}
.Vegan,.paleo-vegan{
  display: inline-block;
  padding:0.2rem 0.7rem ;
  border-radius: 10000px;
  
}
.Vegan{
  background-color: #82c91e;
}
.paleo-vegan{
  background-color: #fcc419;
}
.card-txt-inside{
  /* margin:0 auto ; */
  padding: 2.2rem 1.5rem 4.8rem 1.8rem;
  
  font-size: rem;
}
.card-name,.Vegetarian,.Vegan,.paleo-vegan{
  text-transform: uppercase;
}
.card-name{
  padding: 1.8rem 0;
}
.cardsP{
  line-height: 2.2rem;
  font-size: 1.3rem;
}
.icons{
  color: #fd7e14;
  /* height: 2rem; */
  padding: 0 2rem;
}
.work-diet-heading{
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 1.6rem;
}
.diet-type-list{
  font-size:1.4rem ;
  padding-bottom: 1.6rem;
}
.diet-tick-icon{
  color: #fd7e14;
  padding-right: 2rem;

}
.meals{
  color: #fd7e14;
  font-weight: 600;
  padding-bottom: 1rem;
}
.card-txt-heading{
  font-size: 3rem;
  padding-bottom: 4rem;

}
.seerecipes{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5rem;
  
}
.see-all-recipes{
  color: #fd7e14;
  margin-top: 4rem;
  font-size: 1.2rem;
}
.testi-quote-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.2rem;
} 
.testimonial-grid{
  display: grid;
  grid-template-columns: 55fr 45fr ;
}
.testimonial-food-image{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
  padding-top: 1.5rem;
}
.testimonial-food-image img{
  
  width: 100%;
  transition: all 0.4s;
  overflow: hidden;
  
}
.testi-food-img{
  overflow: hidden;
}
.testimonial-food-image img:hover{
  transform: scale(1.1);

}
.testimonial-section{
  background-color:#fdf2e9;
  padding-bottom: 1.5rem;
}
.testimonial-quote{
  
  padding: 9.6rem;
}
.testi-testimonal-txt{
  color:#ec810e;
  font-weight: 600;
  padding-bottom: 1rem;
}
.testi-header-txt{
  font-size: 2.5rem;
  color: #555;
}
.quote img{
  border-radius: 50%;
  width: 4rem;
  margin-bottom: 1rem;
}
.testi-header{
  
  padding-bottom: 5rem;
}
.quote-customers{
  line-height: 2rem;
  font-weight: 600;
}
.quote-named-by{
  padding-top:2rem ;
  color: #777;
  font-weight: 600;
}
.pricing-section{
  padding: 9.6rem 1rem;
  
}
.header-pricing{
  display: flex;
  text-align: left;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 3rem;
}
.pricing-header-txt{
  font-size: 1.1rem;
  color: #ec810e;
}
.pricing-header{
  font-size: 4rem;
  font-weight: 600;
}

.pricing-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 55%;
  gap: 4rem;
  
}
.pricing-flex{
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-head-txt{
  padding-bottom: 1.3rem;
  color: #ec810e;
  font-weight: 600;
}
.pricing-span{
  font-weight: 600;
}
.dollar-price{
  padding-bottom:1.3rem ;
}
.secondary-heading-card{
  padding-bottom: 2rem;
}
.pricing-card-list{
  list-style: none;
  padding-bottom: 2rem;
  font-size: 1.2rem;
}
.pricing-icon{
  font-size: 1.3rem;
  padding-right: 0.2rem;
  color:#ec810e ;
}
.pricing-header-card-inside{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.starter-card{
  border: 1px solid #ecc59c;
}
.starter-card,.premium-card{
  padding: 4.8rem;
  
  border-radius: 1rem;
  
}
.premium-card{
  background-color:#fdf2e9;
  position: relative;
  overflow: hidden;
}
.ribbon-premium-card{
  position: absolute;
  top: 7%;
  right: -9%;
  
  padding: 0.5rem 4rem;
  background-color: #fcc419;
  transform: rotate(45deg);
}
.pricing-card-under-text{
  padding: 3rem;
  text-align: center;
}
.last-pricing-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin:0 20rem;
  gap: 4rem;
  padding-top: 3rem;
}
.p-grid-head{
  font-weight: 600;
  padding-bottom: 1rem;
  padding-top: 1rem;
  font-size: 1.5rem;
}
.p-grid-txt{
  line-height: 1.8rem;
}
.pricing-ion-icon-last{
  padding: 1rem;
  background-color: #fdf2e9;
  border-radius: 50%;
  color: #ec810e;
  font-size: 2rem;
}
.container-form-img{
  display: grid;
  grid-template-columns:2fr 1fr;
  width: 80rem;
  height: 25rem;
  gap: 3rem;
  
  
  /* background-color: #e67e22; */
  box-shadow:  0 2.4rem 4.8rem rgba(0,0,0,0.30);
  margin: 0 auto;
  margin-bottom: 10rem;
  border-radius: 11px;
  overflow: hidden;
  object-fit: fill;
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
}
.container-form-txt{
  margin-left: 3rem;
}

.img-form{
  width: 100%;
  /* background-image: linear-gradient(to right bottom, rgba(255,210,212,0.5), rgba(240,210,260,0.7))
  url("../Images/eating.jpg"); */
  
   
  
   
}
.form-img-div{
  /* background-image: linear-gradient(to right bottom, rgba(255,210,212,0.5), rgba(240,210,260,0.7))
  url("../Images/eating.jpg"); */
  
}
.header-form{
  padding-top: 2rem;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  color:#5e3406;

}
.form-txt{
  padding-top: 2rem;
  font-size: 1.3rem;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  color:#5e3406;
  line-height: 2rem;
}
.form-inside-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem 1rem;
  column-gap: 2rem;
  row-gap: 1rem;
}
.labels-form{
  font-size: 1.1rem;
  font-weight: 600;
  color:#5e3406;
  
}
.form-tags{
  height: 2.5rem;
  width: 20rem;
  border-radius: 5px;
  margin-top:0.5rem ;
  padding-left: 1rem;
  background-color: #fdf2e9;
  border-style: none;
  font-size: 1.2rem;
}
#select-where{
  height: 2.5rem;
  width: 20rem;
  margin-top:0.5rem ;
  border-radius: 5px;
  background-color: #fdf2e9;
  border-style: none;
  padding-left: 1rem;
  font-size: 1.2rem;
  
  
}
.btn-form{
  font-size: 1.2rem;
  
  margin-top: 1.9rem;
  
  border-radius: 5px;
  background-color:#5e3406 ;
  color:white ;
  height: 2.5rem;
  width: 20rem;
  border-style: none;

}
.btn-form:hover{
  background-color: white;
  color: black;
  border-style: none;
}
.form-tags:focus{
  border: 0.8rem solid rgba(253, 242, 233,0.5);
}
*:focus{
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(230.125.34.0.5);
}
::placeholder{
  color: rgb(192, 185, 185);
}
.footer-grid{
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
  width: 80rem;
 
  margin: 10rem auto;
  gap: 3rem;
}
.footer-class{
  margin-top: 5rem;
  
  border: 1px solid #eee;
}
.footer-flex{
  display: flex;
  flex-direction: column;

}
.footer-logo{
  margin-top: 0.3rem;
  margin-bottom: 0.6rem;

}
.ion-footer-icons{
  font-size: 1.3rem;
}
.ion-footer-icons:hover{
  color: black;
}
.footer-end-txt{
   margin-top: 1.5rem;
  /* align-self: end; */
  font-size: 1.1rem;
  
 
}
.footer-header{
  font-size: 1.4rem;
  font-weight: 600;
}
.footer-center-txt{
  font-size: 1rem;
  margin-top: 1.8rem;
  margin-bottom: 0rem;
  padding-bottom: 1rem;
}
.footer-end-txt{
  align-self: start;
}
.footer-list-account{
  list-style: none;
  font-size: 1rem;
  padding-bottom: 1rem;
}
.social-images-icon{
  margin-top:1rem;
  display: flex;
  gap: 1.6rem;
  padding-bottom: 2rem;
}
